
.logo{
    width: 50px;
    margin-left: 10px;
}
.nav a{
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
    color: black;
}
.userImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.dark {
    background-color: #333;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #333;
}
.yellow-sun{
    color: rgb(136, 136, 46);
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .nav a{
        
        margin-bottom: 20px;
    }
    .logout{
        margin-top: 23px;
    }

}